@model NEEI.Models.Acao
@{
    ViewBag.Title = "Adicionar Acção";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title </h2>

@using (Html.BeginForm("Create", "Acao"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.descricao)
        @Html.TextBoxFor(m => m.descricao, new { @class = "form-control" })
    </div>


    <input type="hidden" id="relatorioId" name="relatorioId" value="@ViewBag.IdRelatorio">
    @Html.HiddenFor(m => m.id)
    

    @Html.ActionLink("Voltar atrás", "Index", "Acao", new {id = ViewBag.IdRelatorio }, new { @class = "btn btn-primary" })
    <button type="submit" class="btn btn-primary">Adicionar</button>
}
