@model IEnumerable<NEEI.Models.Acao>
@{
    ViewBag.Title = ViewBag.Relatorio;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (!Model.Any())
{
    <p>Não há acções.</p>
}
else
{
    <table class="table table-bordered table-hover" id="acoes">
        <thead>
            <tr>
                <th width="1">ID</th>
                <th>Descrição</th>
                <th>Total</th>
                <th>IdRelatorio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var acao in Model)
            {
                <tr>
                    <td width="1">@acao.Id</td>
                    <td>@Html.ActionLink(acao.Descricao, "Index", "Categoria", new {id = acao.Id}, null)</td>
                    <td>@acao.Total€</td>
                    <td>@acao.RelatorioId</td>
                    <td><button data-acao-id="@acao.Id" class="btn btn-danger js-delete">Apagar</button></td>
                </tr>
            }
        </tbody>
    </table>
}
<p>
    @Html.ActionLink("Voltar atrás", "Index", "Relatorio", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Criar uma acção", "New", "Acao", new { id = ViewBag.IdRelatorio}, new { @class = "btn btn-primary" })
</p>
@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#acoes").DataTable();

            $("#acoes").on("click",
                ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("Tem a certeza que deseja apagar esta Ação?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/acao/" + button.attr("data-acao-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}